$button-background-color: #7d5dfb;
$button-background-color-hover: lighten($button-background-color, 5%);
$button-background-color-current: darken($button-background-color, 20%);


.app__header {
  width: 100%;
  padding: 20px;
  background-color: #2e303b;
  
  &__title {
    font-size: 1em;
    line-height: 1.5em;
    color: #fff;
    display: inline-block;
    margin: 0 20px 0 0;
  }

  &__button {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    text-decoration: none;
    background-color: $button-background-color;
    
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    
    margin-right: 10px;
    min-width: 70px;
    text-align: center;
    
    &.mod-current,
    &.mod-current:hover {
      background-color: $button-background-color-current;
    }
    
    &:last-child {
      margin-right: 0;
    };
    
    &:hover {
      transition: background-color 500ms;
      background-color: $button-background-color-hover;
    }
    &:active {
      position: relative;
      top: 1px;
      left: 1px;
    }
  }
}