@import "./settings.scss";
@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');


* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}


/* Main body */
.app__main {
  padding: 20px;
  background-color: #eee;
  min-height: 200px;
}

.app__main {
  &__header {
    font-size: 1.5rem;
  }
  
  &__subheader {
    font-size: 1rem;
  }
}


/* footer */
.app__footer {
  text-align: center;
  font-size: 10px;
  color: #777;
}