.app__header {
  width: 100%;
  padding: 20px;
  background-color: #2e303b;
  
  &__title {
    font-size: 1.5em;
    line-height: 1em;
    color: #fff;
    display: inline-block;
    margin: 0 40px 0 0;
    
    &__icon {
      color: $nav-main-icon;
      margin-right: 10px;
      font-size: 1.5rem;
    }
  }
}

.link {  
  &.mod-header-nav {
    color: #8d93af;
    font-size: .8rem;
    
    &.mod-current {
      color: #fff;
    }
  
    &:hover {
      color: #fff;
    }
  }
}