.link {
  color: $link-color;
  text-decoration: none;
  font-size: .8rem;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
  
  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}